<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DHSL - Self Corona Check</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="https://code.jquery.com/ui/jquery-ui-git.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,600,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/main.css">
    <style>
        .loading {
            position: fixed;
            left: 0px;
            top: 0px;
            width: 100%;
            height: 100%;
            z-index: 9999;
            background: #1ca093ef;
        }

        .lds-ellipsis {
            display: inline-block;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            width: 80px;
            height: 80px;
        }

        .lds-ellipsis div {
            position: absolute;
            top: 33px;
            width: 13px;
            height: 13px;
            border-radius: 50%;
            background: #fff;
            animation-timing-function: cubic-bezier(0, 1, 1, 0);
        }

        .lds-ellipsis div:nth-child(1) {
            left: 8px;
            animation: lds-ellipsis1 0.6s infinite;
        }

        .lds-ellipsis div:nth-child(2) {
            left: 8px;
            animation: lds-ellipsis2 0.6s infinite;
        }

        .lds-ellipsis div:nth-child(3) {
            left: 32px;
            animation: lds-ellipsis2 0.6s infinite;
        }

        .lds-ellipsis div:nth-child(4) {
            left: 56px;
            animation: lds-ellipsis3 0.6s infinite;
        }

        @keyframes lds-ellipsis1 {
            0% {
                transform: scale(0);
            }

            100% {
                transform: scale(1);
            }
        }

        @keyframes lds-ellipsis3 {
            0% {
                transform: scale(1);
            }

            100% {
                transform: scale(0);
            }
        }

        @keyframes lds-ellipsis2 {
            0% {
                transform: translate(0, 0);
            }

            100% {
                transform: translate(24px, 0);
            }
        }
    </style>
</head>


<body ng-app="at">
    <div class="loading">
        <div class="language-check">
            <ul class="ng-scope " ng-controller="Ctrl">
                <li class="nav-item active">
                    <a class="ng-scope language-btn btn-english" ng-click="changeLanguage('en')" id=""
                        data-lang="btn-english">English <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="ng-scope language-btn btn-sinhala" ng-click="changeLanguage('lk')" id=""
                        data-lang="btn-sinhala">සිංහල</a>
                </li>
                <li class="nav-item">
                    <a class="ng-scope language-btn btn-tamil" ng-click="changeLanguage('ta')" id=""
                        data-lang="btn-tamil">தமிழ்</a>
                </li>
            </ul>
        </div>
        <div class="lds-ellipsis">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>

    <nav class="ng-scope navbar navbar-expand-lg navbar-dark main-container" ng-controller="Ctrl">
        <a class="navbar-brand" href="index.html">
            <img src="img/dhsl.svg" alt="ata" width="120">
        </a>
        <ul class="navbar-nav justify-content-center" id="language">
            <li class="nav-item active">
                <a class="ng-scope nav-link language-btn btn-english" ng-click="changeLanguage('en')"
                    id="btn-english">English <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="ng-scope nav-link language-btn btn-sinhala" ng-click="changeLanguage('lk')"
                    id="btn-sinhala">සිංහල</a>
            </li>
            <li class="nav-item">
                <a class="ng-scope nav-link language-btn btn-tamil" ng-click="changeLanguage('ta')"
                    id="btn-tamil">தமிழ்</a>
            </li>
        </ul>

        <button class="navbar-toggler d-none" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav d-none">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Features</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Pricing</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="bg">
        <div class="bg-wrap">
            <div class="img-layer"></div>
        </div>
        <div class="bg-solid"></div>
    </div>
    <div class=" container-fluid main-container">
        <div class="row">
            <div class="col-lg-12">
                <h5 translate="TITLE" class="ng-scope text-center text-white">Answer these questions and check your
                    health status for coronavirus.
                </h5>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <div class="card shadow age">
                    <h1 class="text-center mb-3" translate="howOld"><strong>How old are you?</strong></h1>
                    <h2 class="text-center"><span translate="yearsSiTa"></span> <span id="age">25</span> <span
                            translate="yearsEng"></span></h2>
                    <div class="row">
                        <div class="slider-box">

                            <input type="text" id="priceRange" readonly>
                            <!-- <span>Years</span> -->
                            <div id="price-range" class="slider"></div>
                        </div>
                    </div>
                    <div class="row">
                        <button class="text-center btn-secondary btn-lg btn center-block" id="age-btn" translate="ok">Ok</button>
                    </div>
                </div>
                <div class="card shadow gender hide-this">
                    <h4 class="text-center mb-5" translate="selectGender"><strong>Select Gender</strong></h4>
                    <div class="row">

                        <div class="col-6">

                            <img src="img/icon-1-info.png" alt="" class="icon btn-male" id="btn-male">
                            <p class="text-center btn-male" translate="male">Male</p>
                        </div>
                        <div class="col-6">
                            <img src="img/icon-0-info.png" alt="" class="icon btn-female" id="btn-female">
                            <p class="text-center btn-female" translate="female">Female</p>
                        </div>
                    </div>
                </div>
                <div class="card shadow questions">
                    <img src="" alt="" class="icon" id="q-icon">
                    <h1 class="text-center" id="q-title"></h1>
                    <p class="text-center" id="q-subtitle"></p>
                    <ul id="q-list"></ul>
                </div>


                <div class="card shadow recommendation" id="rec-1">
                    <img src="img/icon-0-info.png" alt="" class="icon icon-info">
                    <h1 class="text-center " translate="notTestTitle">You don’t need to be tested</h1>
                    <h4 class="mt-3" translate="rec1H1">Since you don’t have any symptoms for COVID-19 you do not need
                        to be tested. But, you should Self-Quarantine.</h4>
                    <a translate="readGuide" href="#guide" class="text-primary text-center">Read our easy Self -
                        Quarantine Guide</a>
                    <p translate="rec1P1">
                        Testing is currently focused on individuals who have traveled outside Sri Lanka or had contact
                        with someone diagnosed as having COVID-19, or have developed symptoms of COVID-19.
                    </p>
                    <p translate="rec1P2">However, there’s a chance you could get sick since you said you have been
                        exposed
                    </p>
                    <ul>
                        <li translate="dontVisitHospital">Please do not visit a hospital, physician’s office, lab or
                            healthcare facility without
                            consulting <a href='tel:1999'>1999</a> or your district MOH office.
                        </li>
                        <li translate="dontGoPublic">Don't go to any public places, stay at home, and don’t have any
                            visitors.</li>
                        <li translate="dontSharePersonal">
                            Don’t share personal items like dishes, cups, or towels and wash your hands often.</li>
                        <li translate="ifYouDoDevelopFever">
                            If you do develop any Fever or Dry Cough or Difficulty in Breathing, take this
                            self-assessment again or Call <a href='tel:1999'>1999</a> or your district MOH office
                            immediately.</li>
                    </ul>
                    <p translate="rec1P4">
                        If you are experiencing other symptoms like Tiredness, Aches and Pains, Nasal Congestion, Runny
                        Nose, Sore Throat, Diarrhoea and want assessment contact: <a href='tel:1999'>1999</a> or your
                        district MOH Office immediately </p>
                    <a class="text-center btn-primary btn-lg btn" href="index.html" translate="startOver">Start
                        Over!</a>
                </div>
                <div class="card shadow recommendation" id="rec-2">
                    <img src="img/icon-0-warning.png" alt="" class="icon icon-warning">
                    <h1 class="text-center " translate="rec2H1">You will need to Self-Quarantine</h1>

                    <a translate="readGuide" href="#guide" class="text-primary text-center">Read our easy Self -
                        Quarantine Guide</a>
                    <p translate="BecauseYouHaveSymtoms">
                        Because you have some symptoms, you need to self-quarantine.
                    </p>
                    <ul>
                        <li translate="dontVisitHospital">Please do not visit a hospital, physician’s office, lab or
                            healthcare facility without
                            consulting <a href='tel:1999'>1999</a> or your district MOH office.
                        </li>
                        <li translate="dontGoPublic">Don't go to any public places, stay at home, and don’t have any
                            visitors.</li>
                        <li translate="dontSharePersonal">
                            Don’t share personal items like dishes, cups, or towels and wash your hands often.</li>
                        <li translate="ifYouDoDevelopFever">
                            If you do need emergency medical assistance call <a href='tel:1999'>1999</a> and let them
                            know you may have COVID-19</li>
                    </ul>
                    <p translate="IfSymptomsWorsen">
                        If your symptoms worsen, or if you are concerned, please call <a href='tel:1999'>1999</a> or
                        your district MOH office immediately.
                    </p>
                    <div class="row">
                        <a class="text-center btn-primary btn-lg btn" href="index.html" translate="startOver">Start
                            Over!</a>
                    </div>

                </div>
                <div class="card shadow recommendation" id="rec-3">
                    <img src="img/icon-0-danger.png" alt="" class="icon icon-danger">
                    <h1 class="text-center text-danger" translate="call1999">Call 1999 Immediately</h1>
                    <p translate="rec3P1">
                        Avoid using public transportation to reach medical assistance, avoid close contact with anyone,
                        Wear a face mask or cover your mouth and nose
                        with some form of thick fabric, wash your hands with soap every 30 minutes or use alcohol based
                        sanitizer until medical assistance gets to you. Read our self-quarantine guide.
                    </p>
                    <div class="row">
                        <a href='tel:1999' class="btn btn-danger btn-lg text-center my-4" translate="callNow">Call
                            Now</a>
                    </div>
                    <a class="text-center link" href="index.html" translate="startOver">Start Over!</a>
                </div>
                <div class="card shadow recommendation" id="rec-4">
                    <img src="img/icon-0-warning.png" alt="" class="icon icon-warning">
                    <h1 class="text-center " translate="notTestTitle">You don’t need to be tested</h1>
                    <h4 class="mt-3" translate="rec4h1">But, you should Self-Quarantine because you have some symptoms
                    </h4>
                    <a translate="readGuide" href="#guide" class="text-primary text-center">Read our easy Self -
                        Quarantine Guide</a>
                    <p translate="rec4P1">
                        There are many common viruses other than COVID-19 that can cause your symptoms. Based on your
                        responses you do not need to be tested for COVID-19 at this time.</p>
                    <p translate="rec4P2">Testing is currently focused on individuals who have traveled outside Sri
                        Lanka or had contact
                        with someone diagnosed as having COVID-19, or have developed critical symptoms of COVID-19.</p>
                    <p translate="BecauseYouHaveSymtoms">Because you have some symptoms, you need to self-quarantine.
                    </p>
                    <ul>
                        <li translate="dontVisitHospital">Please do not visit a hospital, physician’s office, lab or
                            healthcare facility without
                            consulting <a href='tel:1999'>1999</a> or your district MOH office.
                        </li>
                        <li translate="dontGoPublic">Don't go to any public places, stay at home, and don’t have any
                            visitors.</li>
                        <li translate="dontSharePersonal">
                            Don’t share personal items like dishes, cups, or towels and wash your hands often.</li>
                        <li translate="ifYouDoDevelopFever">
                            If you do need emergency medical assistance call <a href='tel:1999'>1999</a> and let them
                            know you may have COVID-19</li>
                    </ul>
                    <p translate="IfSymptomsWorsen">
                        If your symptoms worsen, or if you are concerned, please call <a href='tel:1999'>1999</a> or
                        your district MOH office immediately.
                    </p>
                    <a class="text-center btn-primary btn-lg btn" href="index.html" translate="startOver">Start
                        Over!</a>
                </div>
                <div class="card shadow recommendation" id="rec-5">
                    <img src="img/icon-0-info.png" alt="" class="icon icon-info">
                    <h1 class="text-center " translate="notTestTitle">You don’t need to be tested</h1>
                    <h4 class="mt-3" translate="pleaseFollow">Please follow the government's instructions.
                    </h4>

                    <p translate="rec4P2">
                        Testing is currently focused on individuals who have traveled outside Sri Lanka or had contact
                        with someone diagnosed as having COVID-19, or have developed symptoms of COVID-19.</p>

                    <p translate="stay14Days">If you do develop any COVID-19 symptoms, you must self-isolate for 14 days
                    </p>
                    <ul>
                        <li translate="dontVisitHospital">Please do not visit a hospital, physician’s office, lab or
                            healthcare facility without
                            consulting <a href='tel:1999'>1999</a> or your district MOH office.
                        </li>
                        <li translate="dontGoPublic">Don't go to any public places, stay at home, and don’t have any
                            visitors.</li>
                        <li translate="dontSharePersonal">
                            Don’t share personal items like dishes, cups, or towels and wash your hands often.</li>
                        <li translate="ifYouDoDevelopFever">
                            If you do develop any Fever or Dry Cough or Difficulty in Breathing, take this
                            self-assessment again or Call <a href='tel:1999'>1999</a> or your district MOH office
                            immediately.</li>
                    </ul>
                    <p translate="rec1P4">
                        If you are experiencing other symptoms like Tiredness, Aches and Pains, Nasal Congestion, Runny
                        Nose, Sore Throat, Diarrhoea and want assessment contact: 1999 or your district MOH Office
                        immediately.
                    </p>
                    <p translate="followGovertmentRules">
                        Follow Government Regulations and Instructions Thoroughly, Avoid public places, and public
                        transportation at all time, Wear a face mask, Wash your hands with soap every 30 minutes, wash
                        your hands for at least 20 seconds, Avoid touching your face.

                    </p>
                    <a class="text-center btn-primary btn-lg btn" href="index.html" translate="startOver">Start
                        Over!</a>
                </div>
                <div class="card shadow guide" id="guide">
                    <h1 class="text-center mb-4" translate="guideTitle"></h1>
                    <h2 translate="guideH1"></h2>
                    <p class="text-justify" translate="guideP1">

                    </p>
                    <h2 translate="guideH2"></h2>
                    <p class="text-justify" translate="guideP2">


                    </p>
                    <h2 translate="guideH3"></h2>
                    <ol>
                        <li translate="guideL1"></li>
                        <li translate="guideL2"></li>
                        <li translate="guideL3"></li>
                        <li translate="guideL4"></li>
                        <li translate="guideL5"></li>
                        <li translate="guideL6"></li>
                        <li translate="guideL7"></li>
                        <li translate="guideL8"></li>
                        <li translate="guideL9"></li>
                        <li translate="guideL10"></li>
                        <li translate="guideL11"></li>
                    </ol>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="buttons text-center">
                    <button id="btn-no" class="btn btn-secondary-primary btn-lg" translate="no">No</button>
                    <button id="btn-notsure" class="btn btn-secondary btn-lg" translate="notsure">Not Sure</button>
                    <button id="btn-yes" class="btn btn-primary btn-lg" translate="yes">Yes</button>
                    <br>
                    <button class="link btn mt-4" id="return" translate="returnBack">Return to previous
                        question</button>
                </div>
                <p class="text-center small text-secondary">Made with <span style="color: #e25555;">&hearts;</span> by
                    <a href="https://github.com/SashenMe" target="_blank">@SashenMe</a></p>
            </div>
        </div>
    </div>


    <script src="js/jquery.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    <script type="text/javascript"
        src="//cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js"></script>
    <script src="js/main.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/angular-translate.min.js"></script>
    <script src="js/translations.js"></script>
</body>

</html>